<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href='/style/results.css' type='text/css'>
    <title>Copy Cat</title>
</head>
<body>
    <!--work this out later. need the structure of the sidebar to sit correctly-->
<div> <% include ./partials/navbar.ejs %> </div>

<!-- side nav goes here -->
<div class=container-fluid>
    <div class="row">
        <div class="col-"> <% include ./partials/sidebar.ejs %> </div>
    

<!--main div goes here--> 
      <div class="col-md" id="dashboard-main">
          <!-- using jumbtron to add spacing and depth -->
          <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display-4">Welcome</h1>   
                </div>
              </div>
            
            
            <br>
            <!-- <button type="button" class="btn btn-primary btn-lg" id="create-playlist-btn" data-toggle="modal" data-target="#create-playlist-modal">Create Playlist</button> -->

            <!-- Modal Window to enter title for Playlist -->
            <!-- NOTE: Modal window isn't currently allowing for connection to POST route -->
            <!-- TO DO: Update this modal code so that it calls the 'createPlaylist.js' route and can replace the below div for creating a playlist -->
            <div class="modal fade" id="create-playlist-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Create Playlist</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <form action="/api/playlist" method="POST">
                        <div class="modal-body">
                          <div class="form-group">
                              <label for="playlist-title" class="col-form-label">Title:</label>
                              <input type="text" class="form-control" id="playlist-title" name="title">
                         </div>
                        </div> 
                       <div class="modal-footer">
                           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" id="submit-playlist-btn" value="Submit">
                        </div>
                    </form>
                  </div>
                </div>
              </div>

              <br>
              <br>
              <!-- New Div for Creating a New Playlist -->
              <div class='results-page'>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">Song</th>
                        <th scope="col">Album</th>
                        <th scope="col">Artist</th>
                        <th scope="col">Add</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                          
                        <% data.forEach((itm)=>{%>
                        <th scope="row"><img src='<%=itm.album_art%>' height='50px;' width='50px;'></th>
    
                          <td><%=itm.song_title%></td>
                          <td><%=itm.album_name%></td>
                          <td><%=itm.artist%></td>


                          <td>
                            <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Add to Playlist
                            </button> -->
                            <h5>Add song to playlist</h5>
                            <form method='post' action='/add'>
                              <input list="userPlaylist" name="playlists">
                              <input name='song' value="<%=itm.song_title%>" style="display:none;">
                            
                            <datalist id="userPlaylist">
                                <% title.forEach((el) => { %>
                                    <option value = '<%= el.dataValues.title %>'>
                                <% }) %>
                              </datalist>
                              <input type="submit">
                            </form>

                          </td>


                        </tr>
                      <% }) %>
                    </tbody>
                  </table>
              </div>

        <!--Form version 2 with playlist created. populate structure as part of dashboard.ejs-->
         <br>
        <br>

       <!--Playlist name and img-->
        <!-- <div class="container-fluid">
            <div>
                <div class="col-0"><img src="#"></div>
                <div class="col-6"><h1>Playlist name here</h1></div>
           </div>
        </div> -->
      </div>
    </div>
</div>



        <!--Playlist setup-->
        <!-- <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <h2>Title</h2> 
                  </div>
                  <div class="col-sm">
                    <h2>Artist</h2>
                  </div>
                  
                </div>
        </div> -->
        <!--insert playlist song loop here-->
        <!-- <div class="container">
            <div class="row">
                <div class="col-sm">
                          
                </div>
                <div class="col-sm">
                          
                </div>
            </div> -->
        </div>
    </div>
</div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    
</body>
</html>